.home__bg {
  background-image: url(file:///C:/Users/hp/Downloads/Compressed/chat-app/about.png);
  height: 85vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.home-message-icon {
  margin-left: 10px;
  display: inline-block;
}
