.login__bg {
  background-image: url(https://i.ibb.co/7XsXr8f/Chugli.png);
  height: 85vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
